<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="BCTOTA2PAEntities"
      connectionString="metadata=res://*/Modelo.ModeloInfraestructure.csdl|res://*/Modelo.ModeloInfraestructure.ssdl|res://*/Modelo.ModeloInfraestructure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dessql61.bilbokoudala.lan;initial catalog=BCTOTA2PA;user id=des_gertekacciona;password=u3jYBAq7;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>